body{
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
}

.global{
    display: flex;
    justify-content: center;
    min-height: 20vh;
}

.global > section, 
.global > header,
.global > footer{
    flex: 0 1 900px;
    //background-color: var(--couleur-arriere-global);
    text-align: center;
    padding: 5rem 1rem;
}
.button{
    background-color: var(--couleur-arriere-footer);
    padding: 1.2em;
    text-decoration: none;
    color: var(--couleur-galerie);
    border-radius: 10%;
    border: 1px solid var(--couleur-accueil);
    font-size: 1.5em;
    transform: background-color;
    transition: background-color 0.2s;
}
.button:hover{
    background-color: var(--couleur-button);
    transition: background-color 0.2s;
    transform: background-color;
}
p{
    color: var(--couleur-accueil);
    width: 40vw;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--couleur-arriere-global);
    border-radius: 3%;
}

#entete{
background-color: var(--couleur-arriere-entete);
color: var(--couleur-entete);
position: relative;
}
#accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
}
#galerie{
    background-color: var(--couleur-arriere-gallerie);
    color: var(--couleur-galerie);
    z-index: 1;
    background: linear-gradient(180deg, var(--couleur-arriere-accueil) 50%, var(--couleur-arriere-evenement)50%);
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}