:root{
    --couleur-arriere-entete : #bdfa83;
    --couleur-arriere-accueil : #a7ff75;
    --couleur-arriere-evenement : rgb(99, 248, 156);
    --couleur-arriere-footer : #6cffc2;
    --couleur-arriere-gallerie : #8efc80;
}